<h1>Champion's Fatigue management</h1>
<%= form_for @information, url: informations_path do |f| %>
 name: <%= f.text_field :name, placeholder: "What's on your mind?" %>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
